<template>
    <listing sort="-featured" query="featured" noSeedMessage="No seeds have been featured yet, stay tuned!"></listing>
</template>

<script>
import listing from '../components/listing';

export default {
    name: 'featured',
    components: { listing }
}
</script>
