<template>
    <listing sort="-uploaded" noSeedMessage="No seeds have been uploaded yet, be the first to upload one!"></listing>
</template>

<script>
import listing from '../components/listing';

export default {
    name: 'newest',
    components: { listing }
}
</script>
