<template>
    <div id="search">
        <div id="world">
            <div class="checkbox" v-for="(world, key) in worlds">
                <input type="checkbox" name="world" :value="key" :id="'world_'+key"><label :for="'world_'+key">{{ world }}</label>
            </div>
        </div>
        <div id="modifier">
            <div class="checkbox" v-for="(modifier, key) in modifiers">
                <input type="checkbox" name="modifier" :value="key" :id="'modifier_'+key"><label :for="'modifier_'+key">{{ modifier }}</label>
            </div>
        </div>
        <div id="style">
            <div class="checkbox" v-for="(style, key) in styles">
                <input type="checkbox" name="style" :value="key" :id="'style_'+key"><label :for="'style_'+key">{{ style }}</label>
            </div>
        </div>
        <div id="sliders">
            <div class="slider">
                <label>steepness</label>
                <vue-slider :value="[0,8]" :min="0" :max="8" :lazy="true" tooltip="always" tooltip-dir="bottom" :tooltip-style="{'backgroundColor': '#528146', 'borderColor': '#528146'}" :slider-style="{'backgroundColor': '#528146'}" :process-style="{'backgroundColor': '#528146'}" />
            </div>
            <div class="slider">
                <label>curves</label>
                <vue-slider :value="[0,8]" :min="0" :max="8" :lazy="true" tooltip="always" tooltip-dir="bottom" :tooltip-style="{'backgroundColor': '#528146', 'borderColor': '#528146'}" :slider-style="{'backgroundColor': '#528146'}" :process-style="{'backgroundColor': '#528146'}" />
            </div>
            <div class="slider">
                <label>stunts</label>
                <vue-slider :value="[0,8]" :min="0" :max="8" :lazy="true" tooltip="always" tooltip-dir="bottom" :tooltip-style="{'backgroundColor': '#528146', 'borderColor': '#528146'}" :slider-style="{'backgroundColor': '#528146'}" :process-style="{'backgroundColor': '#528146'}" />
            </div>
        </div>
    </div>
</template>

<script>
import vueSlider from 'vue-slider-component';
import { worlds, modifiers, styles } from '../util.js';

export default {
    name: 'search',
    components: { vueSlider },
    data() {
        return {
            'worlds': worlds,
            'modifiers': modifiers,
            'styles': styles
        };
    }
}
</script>

<style scoped lang="scss">
    #search {
        display: flex;
    }

    #world, #modifier, #style {
        flex: 3;
    }

    #sliders {
        flex: 11;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .slider {
            display: flex;
            label {
                flex: 1;
            }
            .vue-slider-component {
                flex: 4;
            }
        }

    }
</style>

<!-- 1st digit - world: 1 - highlands, 2 - forest, 3 - canyon, 4 - peaks
2nd digit - modifier: 0 - none, 1 - boss jump, 2 - no path
3rd digit - visual style: 0 - none, 1 - night, 2 - dawn, 3 - storm
4th digit - steepness: 0-8
5th digit - curves: 0-8
6th digit - stunts: 0-8
7th-11th digit - seed -->
