<template>
    <div v-if="seed">
        <seed :seed="seed"></seed>
    </div>
    <div v-else-if="error" class="status">
        An error occured while getting the seed. Please try again.
    </div>
    <div v-else class="status">
        Loading...
    </div>
</template>

<script>
import seed from '../components/seed.vue';

export default {
    name: 'seedPage',
    components: { seed },
	props: ['id'],
    data() {
        return {
            seed: null,
            error: false
        }
    },
    created: function() {
        this.getSeed();
    },
    methods: {
        getSeed() {
            this.api(`/seeds/${this.id}`).then(res => {
                this.seed = res;
            }).catch(err => {
                this.error = true;
            });
        }
    }
}
</script>
