<template>
    <seed v-if="user"></seed>
    <div v-else class="status">
        You have to be logged in to submit seeds. Use the 'Sign in' button in the top right corner of this site.
    </div>
</template>

<script>
import seed from '../components/seed';

export default {
    name: 'submit',
    components: { seed }
}
</script>
