<template>
    <div v-if="pageUser">
        <div class="user">
            <img class="avatar" :src="pageUser.avatar" :alt="`Profile picture of ${pageUser.name}`">
            <div class="details">
                <div class="username">{{ pageUser.name }}</div>
                <div class="registered"><fa :icon="['far', 'calendar-plus']" fixed-width/>{{ pageUser.registered | moment("Y/MM/DD") }}</div>
                <div class="steamprofile">
                    <a :href='`https://steamcommunity.com/profiles/${pageUser.id}`' target="_blank"><fa :icon="['fab', 'steam']" fixed-width/>Steam profile</a>
                </div>
            </div>
        </div>
        <listing sort="-uploaded" :query="`user=${pageUser.id}`" noSeedMessage="This user has not uploaded any seeds."></listing>
    </div>
    <div v-else-if="error" class="status">
        An error occured while getting the user details. Please try again.
    </div>
    <div v-else class="status">
        Loading...
    </div>
</template>

<script>
import listing from '../components/listing.vue';

export default {
    name: 'user',
    components: { listing },
	props: ['id'],
    data() {
        return {
            pageUser: null,
            error: false
        }
    },
    created: function() {
        this.getUser();
    },
    methods: {
        getUser() {
            this.api(`/users/${this.id}`).then(res => {
                this.pageUser = res;
            }).catch(err => {
                this.error = true;
            });
        }
    }
}
</script>

<style scoped lang="scss">
    .user {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        svg {
            margin-right: 0.5rem;
        }

        .avatar, .details {
            display: inline-block;
        }

        .details {
            font-size: 1.4rem;
            vertical-align: top;
            margin-left: 1.2rem;

            .username {
                margin-top: -1rem;
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }
</style>
