<template>
    <div v-if="seeds.length">
        <seed v-for="seed in seeds" :key="seed.seed" :seed="seed"></seed>
    </div>
    <div v-else-if="noseeds" class="status">
        {{ noSeedMessage }}
    </div>
    <div v-else-if="error" class="status">
        An error occured while getting seeds. Please try again.
    </div>
    <div v-else class="status">
        Loading...
    </div>
</template>

<script>
import seed from './seed';

export default {
    name: 'listing',
    components: { seed },
	props: ["sort", "query", "noSeedMessage"],
    data() {
        return {
            seeds: [],
            noseeds: false,
            error: false
        }
    },
    created: function() {
        this.getSeeds();
    },
    methods: {
        getSeeds() {
            // TODO: pagination
            // https://github.com/TahaSh/vue-paginate
            // https://github.com/lokyoung/vuejs-paginate
            // https://github.com/matfish2/vue-pagination-2
            this.api(`/seeds/search/${this.sort}${this.query ? '/' + this.query : ''}`).then(res => {
                this.seeds = res;
                if(this.seeds.length == 0) this.noseeds = true;
            }).catch(err => {
                this.error = true;
            });
        }
    }
}
</script>
