<template>
	<input ref="input" type="text" :name="name" :placeholder="placeholder" :maxlength="maxlength" @input="updateValue($event.target.value)">
</template>

<script>
export default {
	name: 'number-only-input',
	props: ['name', 'placeholder', 'maxlength'],
	methods: {
		updateValue: function(value) {
			value = value.replace(/\D/g, '');
			this.$refs.input.value = value;
			this.$emit('input', value);
		}
	}
}
</script>
