<template>
	<nav>
		<router-link v-for="item in items" :to="item.path" :exact="item.exact">{{ item.title | uppercase }}</router-link>
	</nav>
</template>

<script>
export default {
	name: 'router-menu',
	computed: {
		items() {
			let items = [];

			for(let item of this.$router.options.routes) {
				if(!item.title) continue;
				item.exact = (item.path === "/");
				items.push(item);
			}

			return items;
		}
	},
	filters : {
		uppercase(val) {
			return val.toUpperCase();
		}
	}
}
</script>

<style lang="scss">
	nav {
		margin-top: 1rem;

		a {
			margin: 0 1rem;
			font-weight: 600;
			color: rgba(#ffffff, 0.75);
			text-decoration: none;
			transition: 0.25s color;

			&:hover, &.router-link-active {
				color: white;
			}
		}
	}
</style>
