<template>
	<div class="seed">
		<div :class="['image', s.image ? s.image : '']"></div>
		<div class="details">
			<input v-if="submit" v-model="newName" type="text" placeholder="Seed name" required>
			<h2 v-else>{{ newName }}</h2>
			<div class="stat">
				<div class="name">Steepness</div>
				<stat-bar :bars="s.steepness"></stat-bar>
			</div>
			<div class="stat">
				<div class="name">Curves</div>
				<stat-bar :bars="s.curves"></stat-bar>
			</div>
			<div class="stat">
				<div class="name">Stunts</div>
				<stat-bar :bars="s.stunts"></stat-bar>
			</div>
			<div class="stat">
				<div class="name">Modifier</div>
				<div class="value">{{ s.modifier }}</div>
			</div>
			<div class="stat">
				<div class="name">Visual style</div>
				<div class="value">{{ s.style }}</div>
			</div>
		</div>
		<div v-if="submit" class="submit">
			<number-only-input placeholder="12345678910" maxlength="11" v-model="newSeed" /><br>
			<div :class="['button', s.valid ? '' : 'disabled']" @click="submitSeed">Submit</div>
		</div>
		<div v-else class="copy">
			<input type="text" readonly :value="newSeed"><br>
			<div class="button" v-if="copySupported" @click="copySeed">Copy to clipboard</div>
		</div>
		<div v-if="!submit" class="bottom">
			<div class="left">
				<div :class="['like', user ? 'clickable': '', newLiked ? 'active' : '']" @click="user && (newLiked = !newLiked)">
					<fa :icon="[newLiked ? 'fas' : 'far', 'thumbs-up']" fixed-width />
					<div class="likes">{{ newScore }}</div>
				</div>
				<div><fa :icon="['far', 'user']" fixed-width /> <router-link :to="'/user/' + seed.user.id" class="username">{{ seed.user.name }}</router-link></div>
				<div><fa :icon="['far', 'clock']" fixed-width /> {{ seed.uploaded | moment("Y/MM/DD") }}</div>
				<!-- <div class="tags"><a href="#">Tag 1</a> <a href="#">Tag 2</a> <a href="#">Tag 3</a></div> -->
			</div>
			<div class="right">
				<router-link :to="`/seed/${newSeed}`" title="Permanent link">#</router-link>
			</div>
		</div>
	</div>
</template>

<script>
import statBar from './statBar';
import numberOnlyInput from './numberOnlyInput';
import { worlds, modifiers, styles } from '../util.js';

export default {
	name: 'seed',
	components: { statBar, numberOnlyInput },
	props: {
		'seed': {
			'type': Object,
			'default': () => {
				return {
					'seed': '',
					'name': '',
					'score': '',
					'liked': false,
					'uploaded': null,
					'user': null
				}
			}
		}
	},
	data() {
		return {
			'newSeed': this.seed.seed,
			'newName': this.seed.name,
			'newScore': this.seed.score,
			'newLiked': this.seed.liked,
			'submit': (this.seed.seed == '' ? true : false),
			'copySupported': document.queryCommandSupported('copy'),
		};
	},
	computed: {
		s() {
			let valid = true;
			let returnobj = {};
			let seedstring = this.newSeed.toString();

			if(seedstring.length == 11) {
				if(worlds[seedstring.slice(0,1)]) returnobj.image = worlds[seedstring.slice(0,1)].toLowerCase();
				else valid = false;

				if(modifiers[seedstring.slice(1,2)]) returnobj.modifier = modifiers[seedstring.slice(1,2)];
				else valid = false;

				if(styles[seedstring.slice(2,3)]) returnobj.style = styles[seedstring.slice(2,3)];
				else valid = false;

				const steepness = +seedstring.slice(3,4);
				const curves = +seedstring.slice(4,5);
				const stunts = +seedstring.slice(5,6);

				if(steepness >= 0 && steepness < 9) returnobj.steepness = steepness;
				else valid = false;

				if(curves >= 0 && curves < 9) returnobj.curves = curves;
				else valid = false;

				if(stunts >= 0 && stunts < 9) returnobj.stunts = stunts;
				else valid = false;
			} else {
				valid = false;
			}

			if(valid) {
				returnobj.valid = (this.newName !== '');
				return returnobj;
			}
			else {
				return {
					valid: false,
					image: '',
					modifier: modifiers['0'],
					style: styles['0'],
					steepness: 0,
					curves: 0,
					stunts: 0
				};
			}
		}
	},
	methods: {
		copySeed: function(e) {
			e.target.parentNode.querySelector('input').select();
			document.execCommand('copy');
			e.target.parentNode.querySelector('input').blur();
		},
		submitSeed: function(e) {
			if(this.s.valid) {
				this.api('/seeds/submit', {
					'seed': this.newSeed,
					'name': this.newName
				}).then(res => {
					this.$router.push(`/seed/${this.newSeed}`);
				}).catch(err => {
					alert('error');
				});
			}
		}
	},
	watch: {
		newLiked: function(to, from) {
			if(to) this.newScore++;
			else this.newScore--;

			this.api(`/seeds/${this.newSeed}/${to ? '' : 'un'}like`, {}).then(res => {
				if(res !== null) this.newScore = res;
			}).catch(err => {
				alert('error');
			});
		}
	}
}
</script>

<style scoped lang="scss">
	.seed {
		margin-bottom: 1.5rem;
		background-image: url("../img/seedbg.png");
		background-size: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.image {
			background-color: rgba(#1a1c1f, 0.25);
			background-image: url("../img/logo.svg");
			background-repeat: no-repeat;
			background-size: 90%;
			background-position: center;
			width: 328px;
			align-self: stretch;

			&.highlands, &.forest, &.canyon, &.peaks {
				background-size: cover;
			}

			&.highlands {
				background-image: url('../img/highlands.png');
			}

			&.forest {
				background-image: url('../img/forest.png');
			}

			&.canyon {
				background-image: url('../img/canyon.png');
			}

			&.peaks {
				background-image: url('../img/peaks.png');
			}

		}

		input {
			width: 100%;
			background: rgba(white, 0.4);
			border: none;
		}

		.details {
			flex: 1;
			margin: 1rem;

			h2 {
				margin: 0;
				font-family: Kanit;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			input {
				margin-bottom: 0.5rem;
				padding: 0.3rem;
				font-size: 1rem;
				text-align: left;
			}

			.stat {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}

		.copy, .submit {
			margin: 1rem 1rem 1rem 0;

			input {
				padding: 0.5rem;
				font-size: 1.2rem;
				text-align: center;
			}

			.button {
				background: rgba(black, 0.4);
				color: white;
				padding: 1.25rem;
				cursor: pointer;
				text-align: center;

				&:hover {
					background: rgba(black, 0.5);
				}

				&:active {
					background: rgba(black, 0.6);
				}

				&.disabled {
					cursor: not-allowed;
					background: rgba(black, 0.3);
				}
			}
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			background: rgba(white, 0.4);
			padding: 0.4rem;
			width: 100%;

			.left, .right {
				display: flex;
				align-items: center;
			}

			.left {
				& > div {
					margin-right: 0.4rem;
				}

				.like {
					$likecolor: rgb(82, 129, 70);

					height: 100%;
					border-radius: 6px;
					text-align: center;
					display: flex;
					align-items: center;
					padding: 0px 3px;

					.likes {
						width: 15px;
					}

					&.clickable {
						border: 1px solid black;
						cursor: pointer;

						&.active {
							background-color: $likecolor;
							border-color: $likecolor;
							color: white;
						}
					}
				}
			}

			.username {
				line-height: 1;
			}
		}
	}

</style>
