<template>
	<div class="value">
		<div v-for="index in 8" :class="['bar', index <= +bars ? 'active' : '']"></div>
	</div>
</template>

<script>
export default {
	name: 'stat-bar',
	props: ['bars']
}
</script>

<style scoped lang="scss">
	.value .bar {
		width: 36px;
		height: 14px;
		display: inline-block;
		margin: 2px 2px 0 0;
		opacity: 0.4;

		&.active {
			opacity: 1;
		}

		&:nth-child(1) {
			background: #4f8766;
		}

		&:nth-child(2) {
			background: #5f855f;
		}

		&:nth-child(3) {
			background: #748156;
		}

		&:nth-child(4) {
			background: #9c7945;
		}

		&:nth-child(5) {
			background: #a9733f;
		}

		&:nth-child(6) {
			background: #ab6d3e;
		}

		&:nth-child(7) {
			background: #a15c41;
		}

		&:nth-child(8) {
			background: #965444;
		}
	}
</style>
