<template>
    <div id="wrapper">
        <header>
            <router-link to="/" exact id="title">DESCENDERS SEEDS</router-link>
            <router-menu />
            <div v-if="user" id="steam" class="user">
                <div>Logged in as <router-link :to="'/user/' + user.id">{{ user.name }}</router-link></div>
                <a href="#" @click="logout">Log out</a>
            </div>
            <div v-else id="steam" class="button" title="Login via Steam" @click="openSteamAuth">
                <fa :icon="['fab', 'steam']" size="lg" />Sign in
            </div>
        </header>
        <main id="app">
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
import routerMenu from './components/routerMenu';

export default {
    name: 'app',
    components: { routerMenu },
    created() {
        this.getUser();
    },
    methods: {
        openSteamAuth() {
            let self = this;

            let steamAuth = window.open('/api/users/auth', 'steamAuth');
            let closeTimer = setInterval(function() { // https://stackoverflow.com/a/48240128
                if(steamAuth.closed) {
                    clearInterval(closeTimer);
                    if(window.authResponse) {
                        const json = JSON.parse(window.authResponse);
                        if(json.success) {
                            self.$store.commit('setUser', json.data.user);
                            localStorage.setItem('token', json.data.token);
                        } else {
                            alert(json.error);
                        }
                    } else {
                        self.$store.commit('setUser', null);
                    }
                }
            }, 100);
        },
        getUser() {
            this.api('/users/me').then(res => {
                this.$store.commit('setUser', res);
            }).catch(err => {
                this.$store.commit('setUser', null);
            });
        },
        logout() {
            localStorage.removeItem('token');
            this.$store.commit('setUser', null);
        }
    }
}
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Kanit:600,800');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600');

    *, *:before, *:after {
    	box-sizing: inherit;
    }

    body {
    	box-sizing: border-box;
    	margin: 0;
    	font-family: 'Open Sans';
    }

    header {
    	height: 25vh;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	background: linear-gradient(rgba(#528146, 0.85), rgba(#528146, 0.85)), url('../img/headerbg.png');
    	color: white;

    	#title {
            color: white;
            text-decoration: none;
    		font-family: Kanit;
    		font-weight: 800;
    		font-size: 4rem;
    	}

        #steam {
            position: absolute;
            right: 15px;
            top: 15px;

            &.user {
                text-align: right;

                a {
                    color: white;
                }
            }

            &.button {
                background: black;
                padding: 12px;
                cursor: pointer;
                transition: background-color .25s;
            }

            &.button:hover {
                background-color: lighten(black, 20%);
            }

            &.button svg {
                margin-right: 0.5rem;
            }
        }
    }

    .status {
    	text-align: center;
    }

    main {
    	padding: 2rem 1rem 1rem;
    	margin: 0 auto;
    	max-width: 1200px;

        a {
            color: black;
        }
    }
</style>
